<html>
<body>
    <p>Bonjour,</p>
    <p><span style="color: red; font-weight: bold;">RAPPEL URGENT</span></p>
    <p><b>Votre Parcours de Formation d’anglais {{'now'|date('Y')}}</b> comprend un ou plusieurs <span style="color: red; font-weight: bold;">Ateliers  d'Anglais en face à face.</span><br>
    Ces Ateliers thématiques  d'une journée ( 7h) ou deux journées consécutives (14h) ont lieu à ILC France -13 passage Dauphine 75006 Paris.
    </p>
    <p><span style="color: red; font-weight: bold;">INSCRIPTION</span> <b>via  notre plateforme de planification en ligne ONLINE BOOKING:</b><br>
    - Utilisez le lien  : <a href="http://bookingonline.ilcfrance.com">bookingonline.ilcfrance.com</a><br>
    - Entrez votre identifiant et mot passe (ces informations figurent en bas de cet email)<br>
    - Le ou les Ateliers pour lesquels vous avez été *pré inscrits s'affichent<br>
    - Sélectionnez <u>une session</u> (une date) par Atelier, Valider votre choix en bas de page<br>
    - Un email de confirmation vous est envoyé immédiatement<br>
    - Une convocation vous est envoyée au moins 3 semaines avant la date de la formation
    </p>
    <p>
    <span style="color: red; font-weight: bold;">IMPORTANT: Vous avez 10 jours ouvrés pour vous inscrire (ou modifier si besoin) vos sessions de formations</span>, au-delà de ce délai vous perdez le droit d’accès à l’outil de réservation en ligne.
    </p>
    <p><b>Rappel de vos identifiants</b><br>
		<b>Votre identifiant  est : {{ username }}</b><br>
		<b>Votre mot de passe est : {{ password }}</b><br>
	</p>
    <p><i>*Les Ateliers auxquels vous êtes pré inscrits ont été sélectionnés par la cellule de pilotage formation de Sanofi (contact :Sue MEIGH 01 56 69 22 38)</i></p>
	<p>Pour toute question, n'hésitez pas à nous joindre au 01 44 41 80 22.</p>
	<p>
		Cordialement,<br> <br> <b>Léa Paolini</b><br> Direction des Projets
		et Organisation<br> Tél : 01 44 41 80 22<br> Email :
		lea.paolini@ilcfrance.com
	</p>
</body>
</html>
