<html>
<body>
	Bonjour,
	<br>
	<p>Un premier email d’informations concernant votre inscription vous a été
		envoyé et nous constatons que vos démarches d’inscription n’ont pas encore été
		effectuées.</p>
	<p>
		Nous vous rappelons que suite à la validation de votre <b><u>Parcours
				de Formation d’anglais pour l’année {{'now'|date('Y')}}</u></b>, <b>ILC France</b> met en place
		pour vous un outil de réservation en ligne et vous propose de programmer vos
		modules choisis.
	</p>
	<p>
		Pour votre inscription, nous vous invitons à vous connecter sur notre outil de
		planification via l’adresse suivante : <a href="http://www .ilcfrance.com">www.ilcfrance.com</a> ;
		cliquez sur l’icône <span style="color: blue; font-weight: bold;">ONLINE
			BOOKING</span> (ou en allant directement au site <a
			href="http://bookingonline.ilcfrance.com"
		>bookingonline.ilcfrance.com</a>) et entrez votre identifiant et votre mot de
		passe.
	</p>
	<p>
		<b>Nous vous rappelons que vous avez <span
			style="color: red; text-decoration: underline;"
		>5 jours ouvrés</span> pour vous inscrire
		</b> (ou modifier si besoin) <b>vos sessions de formations</b> (sélectionnez <u>une</u>
		session/date par module) <b>, au-delà de ce délai vous perdez le droit
			d’accès à l’outil de réservation en ligne.</b>
	</p>
	<p>
		Rappel de vos identifiants<br> Votre identifiant  est : <b>{{ username
			}}</b><br> Votre mot de passe est : <b>{{ password }}</b><br>
	</p>
	<p>Pour toute question, n'hésitez pas à nous joindre au 01 44 41 80 22.</p>
	<p>
		Cordialement,<br> <br> <b>Léa Paolini</b><br> Direction des Projets
		et Organisation<br> Tél : 01 44 41 80 22<br> Email :
		lea.paolini@ilcfrance.com
	</p>
</body>
</html>
