<html>
<body>
	<p>Bonjour,</p>
	<p>
		Vos paramètres de connexion ont changé.<br> Pour toute nouvelle connexion à
		"BOOKING ONLINE", merci d'utiliser les informations ci-dessous:
	</p>
	<p>
		<span style="color: blue; font-weight: bold;">Vos nouveaux paramètres
			de connexion:</span><br> Votre identifiant : <b>{{username }}</b><br> Votre
		mot de passe : <b>{{ password }}</b><br>
	</p>
	<p>Pour toute question, n'hésitez pas à nous joindre au 01 44 41 80 22.</p>
	<p>
		Cordialement,<br> <br> <b>Léa Paolini</b><br> Direction des Projets
		et Organisation<br> Tél : 01 44 41 80 22<br> Email :
		lea.paolini@ilcfrance.com
	</p>
</body>
</html>
